html{
    background-color: steelblue;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
}
.title{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.scoreboard{
    width: 80vw;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.round{
    width: 80vw;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
}
.played{
    border: solid 5px rgb(8, 86, 150);
    border-radius: 10%;
    height: 250px;
    width: 200px;
}

.choices{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-left: 20%;
    width: 60vw;
}

.choice-img{
    height: 150px;
    width: 120px;
    border: solid 3px rgb(8, 86, 150);
    border-radius: 10%;
}

.choice-img:hover{
    border: solid 3px rgb(132, 170, 199);
}

.footer{
    display: flex;
    width: 100vw;
    height: max-content;
    padding: 10px;
    justify-content: center;
    background-color: rgb(11, 108, 188);
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: -50px;
    margin-left: -10px;
    margin-right: -10px;
}

.clicked{
    border: solid 3px rgb(0, 39, 68);  
}
.clicked:hover{
    border: solid 3px rgb(0, 39, 68);  
}